@import '~antd/dist/antd.css';

.editor-textarea {
  outline-color: transparent;
  border: 1px solid transparent!important;
}

.editor-textarea:focus {
  border: 1px solid transparent!important;
}

.ant-table-small {
  font-size: 12px!important;
}

.ant-table.ant-table-small .ant-table-tbody > tr > td {
  padding: 4px!important;
}

.ant-table.ant-table-small .ant-table-thead > tr > th {
  padding: 4px!important;
}

.op-history .ant-table-body {
  height: calc(25vh - 28px)!important;
}

.ant-empty-normal {
  margin: 37px 0!important;
}

.virtual-table .ant-table.ant-table-small .ant-table-thead > tr > th {
  padding: 4px 0px!important;
}

.virtual-table-cell {
  border-bottom: 1px solid #e8e8e8;
}
